<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="utils.TestListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Lahiru/Desktop/RestAssuredProject/src/test/java/PostsTest.java">
        <parameter name="env" value="dev"/>
        <classes>
            <class name="PostsTest"/>
        </classes>
    </test>
</suite>

